node_modules
**/node_modules
**/.cache
**/.pnpm-store
**/.swc
dist
src/assets/emoji-sprites
src/locales/*/messages.js
pkgs/libfluxcore
pkgs/libfluxcore/**
proxy/assets
astral_gateway/_build
astral_marketing/build
astral_docs/.next
astral_docs/.next/cache
astral_docs/out
astral_docs/.vercel
astral_docs/.cache
astral_docs/coverage
astral_static/**
dev/geoip_data
dev/livekit.yaml
dev/astral.yaml
*.log
**/*.css.d.ts
